<!DOCTYPE html>
<html>
<head>
    <title>Login Retrieval</title>
</head>
<body>
    <h2>Step 4d: Re-login Page</h2>
    <p>Enter your credentials to retrieve your stored information.</p>
    <form action="/retrieve" method="POST">
        Username: <input type="text" name="username" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        <input type="submit" value="Retrieve My Info">
    </form>
    <br>
    <a href="/">Back to Registration</a>
</body>
</html>
