<!DOCTYPE html>
<html>
<head><title>Project 2 Registration</title></head>
<body>
    <h2>User Registration</h2>
    <form action="/register" method="POST">
        First Name: <input type="text" name="firstname" required><br><br>
        Last Name: <input type="text" name="lastname" required><br><br>
        Email: <input type="text" name="email" required><br><br>
        Address: <input type="text" name="address" required><br><br>
        <input type="submit" value="Register User">
    </form>
</body>
</html>
